.loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 200px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-spinner-container.small .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
}

.loading-spinner-container.medium .spinner {
    width: 50px;
    height: 50px;
}

.loading-spinner-container.large .spinner {
    width: 70px;
    height: 70px;
    border-width: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-message {
    margin-top: 1rem;
    color: #666;
    font-size: 0.95rem;
}